body {
    padding:20px;
    font-size:13px;
    font-family: helvetica,tahoma,verdana,sans-serif;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.example {
    margin-bottom:20px;
}

.example p {
    margin:5px 0;
}